html, body {
  height:100%;
  overflow:hidden;
  text-align: center;
  font-family:'Helvetica Neue';
  font-weight:300;

  .game-container {
    height:600px;
    width:600px;
    margin:0 auto;
    background:#000;
    border-radius: 10px;
    padding:25px;
    overflow: hidden;
  }
}

.cell {
  background: #fff;
  float:left;
  width:25%;
  height:25%;
  border:5px solid royalblue;
  box-sizing: border-box;
}

.active {
  background-size:contain;
}

.bg-2 {
  background:url('https://media.giphy.com/media/yJHN2CCfPIw4o/giphy.gif');
  background-size:contain;
}

.bg-4 {
  background:url('https://media.giphy.com/media/142lsSgPVUAISY/giphy.gif');
  background-size:contain;
}

.bg-8 {
  background-image: url('https://media.giphy.com/media/RQSuZfuylVNAY/giphy.gif');
  background-size: contain;
}

.bg-16 {

}

.bg-32 {

}

.bg-64 {

}

.bg-128 {

}

.bg-256 {

}

.bg-512 {

}

.bg-1024 {

}

.bg-2048 {

}
