html, body {
  height:100%;
  overflow:hidden;
  text-align: center;
  font-family:'Helvetica Neue';
  font-weight:300;

  .game-container {
    height:600px;
    width:600px;
    margin:0 auto;
    background:#000;
    border-radius: 10px;
    padding:25px;
    overflow: hidden;
  }
}



.row {
  width:100%;
  height:25%;
}

.cell {
  background: #fff;
  float:left;
  width:25%;
  height:100%;
  border:5px solid royalblue;
  box-sizing: border-box;
}

.active {
  background:grey;
}
